#signup{
    .hero{
        // background-color: $blue-opct;
        background-image: url('../images/asset/bg_signup.png');
        background-size: cover;
        .caption{
            -webkit-animation-duration:1.5s;
            @include transform(translate( 0, 30%));
            h1,p{
                color: $white;
            }
            @media (min-width: $screen-sm-min){
               @include transform(translate( 0, 80%));
            }
            @media (min-width: $screen-md-min){
               @include transform(translate( 0, 100%));
            }
            @media (min-width: $screen-lg-min){
               @include transform(translate( 0, 120%));
            }
        }
        .signup-box{
            -webkit-animation-duration:1.5s;
            padding: 5px 15px;
            background: white;
            display: block;
            margin: auto;
            @include  border-radius(10px);
            @include box-shadow(0, 3px, 6px, 1px, #f1f1f1);
            @include transform(translate( 0, 20%));
            button{
                display: block;
                margin: 35px auto 35px;
                font-weight: 700;
            }
            @media (min-width: $screen-sm-min){
                @include transform(translate( 0, 35%));
                padding: 5px 30px 15px;
                float: right;
            }
            @media (min-width: $screen-lg-min){
               width: 361px;
            }
        }
    }
}