<div class="header-container" ng-controller="headerCtrl">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<img ng-src="images/logo.png" alt="BESTAPP">
			</a>
		</div>
		<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
			<ul class="nav navbar-nav navbar-right">
				<li ui-sref-active="active"><a ui-sref="home">home</a></li>
				<li ui-sref-active="active"><a ui-sref="features">features</a></li>
				<li ui-sref-active="active"><a ui-sref="testimonial">testimonials</a></li>
				<li ui-sref-active="active"><a ui-sref="screenshot">screenshot</a></li>
				<li ui-sref-active="active"><a ui-sref="pricing">pricing</a></li>
				<li ui-sref-active="active" class="circle-menu"><a ui-sref="signup">sign up</a></li>
			</ul>
		</div>
		</div>
	</nav>
</div>